td, th.row-handle {
    vertical-align: middle !important;
  }

td.row-handle {
  cursor: move;
  border-left: solid 10px #b0bec5 !important;
}

td.row-handle.short {
  border-left: solid 10px #ffab91 !important;
}

thead.thead-dark {
  background-color: #141A36;
  color: #ffffff;
}