/* Defaults */
.navbar-nav li{
    margin-right: 15px;
}
button{
    cursor: pointer;
}

.sr-nav-search-input{
    outline: 0;
    border: 1px solid #ccc;
    padding: 7px 10px;
    width: 400px;
}
.sr-nav-search-btn{
    outline: 0;
    border: 1px solid #ccc;
    padding: 7px 10px;
}
.sr-fullscreen-modal{
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 0px !important;
}
.sr-overlay-search-input{
    outline: 0;
    border: 1px solid #ccc;
    padding: 10px;
    width: 400px;
    font-size: 16px;
}
.sr-overlay-search-btn{
    outline: 0;
    border: 1px solid #ccc;
    padding: 10px;
    width: 50px;
}

.open-position-modal-border {
    border-right: 1px solid rgba(120, 130, 140, 0.13)
}