div.pagination-cont {
  display: block;
  margin: 0 auto;
  ul.react-paginate {
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      padding: 3px 6px;
      background-color: #0275d8;
      border-radius: 2px;
      color: #ffffff;
      font-size: 12px;
      font-weight: 300;
    }
    li.selected {
      background-color: blue;
    }
    li:not(:last-child) {
      margin-right: 4px;
    }
  }
}