#open-new-position {
  .pointer {
    cursor: pointer;
  }
  .balance-list {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
    }
    .balance {
      padding-bottom: 5px;
      font-size: 12px;
    }
  }
  .small-font {
    font-size: 10px;
  }
}