#open-position-modal {
  select[name="exchange"] {
    font-size: 15px;
    height: 20px;
    width: 100%;
    margin-left: -15px;
  }
  .full-width-btn {
    width: 100%;
    border-radius: 0;
  }
  .extra-margin {
    width: 100%;
    height: 15px;
  }
  .Select-control {
    font-size: 15px;
  }
  .Select-menu-outer {
    font-size: 13px;
    height: auto;
    z-index: 10000;
    position: absolute;
  }
  .black-outline {
    border: 1px solid black;
  }
  .balance-list {
    list-style: none;
    padding: 0;
  }
  .padding-left {
    padding-left: 5px;
  }
  .balance {
    font-size: 11px;
    padding: 4px 2px;
  }

  .container{
    height: 100%;
  }
  
  .dark-900 {
    background-color: #2e3e4e;
    color: rgba(255, 255, 255, 0.87);
    width: 100%;
  
    .close-button {
      background: #2e3e4e;
      color: #f0f0f0;
    }
  
  }
  
  
  .blue-grey-50{
    background-color: #eceff1;
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
  
    .close-button{
        background-color: #eceff1;
        color: rgba(0, 0, 0, 0.87);
    }
  
  }
  
  .model-width{
    width: 30rem !important;
    height: 200px;
    overflow: visible;
    
    .form-control-custom{
      border-radius: .2rem !important;
      font-size: 1rem !important;
      padding: 0.45rem .50rem;
    }
  
   .close-button{
       position: absolute;
       right: 15px;
       top: 0px;
       z-index: 999;
    }
 }

 .custom-btn{
  line-height: 36px;
}
 .custom-btn:hover{
    cursor: pointer;
 }

}




