.sr-box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.sr-box .sr-row {
  /* border: 1px solid #ccc; */
}

.sr-box .sr-row.buy-sell {
  /* flex: 0 1 40px; */
  flex: 0 1 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  padding: 10px;
}
.sr-box .sr-row.pri-qty {
  /* flex: 0 1 30px; */
  flex: 0 1 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
  padding: 10px;
}

.sr-box .sr-row.content {
  flex: 1 1 auto;
  overflow: auto;
}
.child-three-ind{
  display: flex;
  background-color: green;
  height: 30px;
  justify-content: space-around;
  align-items: center;
}
.child-three-ind-ind{
  height: 30px;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}
.sr-suggestion-ul{
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #ccc;
  background-color: #fff;
  max-height: 200px;
  overflow: auto;
  border-radius: 4px;
}
.sr-suggestion-ul li{
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.sr-suggestion-ul li:hover{
  background-color: #f2f2f2;
}