.sr-open-small-view{
    margin-top: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 500px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 2004;
}
.sr-osv-top{
    display: flex;
    background-color: red;
}
.sr-osv-top div{
    padding: 10px;
}
.sr-osvt-dragger{
    cursor: move;
    flex: 1;
}
.sr-osv-mid{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    background-color: blue;
}
.sr-osv-mid div{
    padding: 0 10px;
}
.sr-osv-bot{
    display: flex;
    height: 80px;
}
.sr-osvb-ind{
    flex: 1;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}
.sr-osvb-ind-sb{
    align-items: center;
    justify-content: center
}
.sr-osvbi-ind{
    display: flex;
    flex-direction: column;
    flex: 1;
    /* justify-content: center; */
    /* align-items: center; */
}
.sr-osvbii-val{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sr-osvbii-spread{
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
}