
.ReactModal__Content {
  opacity: 0;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transition: opacity 150ms;
}

.ReactModal__Content--before-close {
  opacity: 0;
}

.ReactModal__Content {
  background-color: #ffffff !important;
  border: none !important;
  .modal-headline {
    font-size: 25px;
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    .cross-mark {
      font-size: 22px;
      color: black;
      cursor: pointer;
      margin-top: -20px;
      margin-right: -15px;
    }
  }

  .body-modal {
    background-color: #fff;
    padding: 10px !important;

  }

  .footer-modal {
    border-top: 1px solid #eeeeee;
    padding-top: 10px;
    margin-bottom: -15px;
    button:not(:last-child) {
      margin-right: 7px;
    }
  }
}