#calendar {
  .main-header {
    font-size: 25px;
  }
  .h3 {
    font-size: 20px;
  }
  .open-positions-cont {
    list-style: none;
    padding: 0;
    li:first-child {
      font-size: 16px;
      font-weight: bold;
    }
    li {
      padding: 5px;
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      border-left: 1px solid #000;
    }
    li:last-child {
      border-bottom: 1px solid #000000;
    }
  }
}