#navbar-calendar-cont {
  background-color: inherit;
  padding: 5px;
  .navbar-calender {
    color: #fff;
    background-color: inherit;
  }
  .rdtPicker {
    width: auto;
    background-color: inherit;
    tr td:hover {
      background-color: #f5f8fa;
      color: #000;
    }
    span[data-class="1"] {
      color: #000;
      background-color: #fff;
      padding: 2px;
    }
  }
}