#orders {
  .main-header {
    font-size: 35px;
  }
  .font-color-black {
    color: #000;
  }
  .filter-cont {
    background-color: #fff;
    margin-bottom: 10px;
    margin-top: -10px;
    padding: 15px 15px 7px;
    ul.filter-list {
      list-style: none;
      padding: 0;
      li {
        display: inline;
        span.label {
          margin-bottom: 4px;
          font-size: 13px;
          padding: 5px 7px;
          color: #000;
          cursor: pointer;
          font-weight: 300;
        }
        span.active {
          background-color: #0275d8;
          color: #ffffff;
        }
      }
      li:not(:last-child) {
        margin-right: 5px;
      }
    }
    ul.time-filter {
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
      }
      li:not(:last-child) {
        padding-right: 5px;
      }
      select.time-filter-select {
        margin-bottom: -10px;
      }
    }
  }
}